.top-buffer { margin-top:20px; }

		.form {
			display: inline-block;
			text-align: center;
		}

		#home{
			background-image: url('');
			margin-top: 0.1%;
			text-align: center;
		}
		.mt-0 {
			margin-top: 0%
		}

		.ml-1 {

			display: block;
			height:2px;
			margin: 1em 0;
			padding: 0;

			background:black;
			margin-left:25%;
			margin-right: 25%;

		}
		.dotted {
			 border: 3px dotted black;
			 border-style: none none dotted;
			 color: black;
			 margin-bottom: 0%;
			 margin-left:25%;
			margin-right: 25%;

			 }
		.h2color{
			color: green;
		}
		.footer_fixed{
			text-align: center;
			font-size: 15px;

		}
		.width{
			margin-left: 15%;
			margin-right: 15%;

		}
		.font-type{
			font-family: Helvetica;
		}
		.table-responsive{
			height: 500px;
		}
		.pri_1{
			background-color: red;
		}
		.pri_2{
			background-color: blue;
		}
		.pri_3{
			background-color: green;
		}



		select {
			height:33px;
			line-height:33px;
			background:white;
		}

		.margin{
			margin-top: 1.5%
		}
